
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  

</head>



<style>
    .navbar-custom {
        background-color: #004a7c;
    }

    .navbar-custom .navbar-brand, 
    .navbar-custom .nav-link {
        color: white;
    }

    .btn-custom {
        background-color: #500000;
        color: black;
    }
    .profile-picture {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }

</style>

<body>

<nav class="navbar navbar-expand-lg navbar-custom">


    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
       
            <div class="d-flex align-items-center">
                <% if current_user.profile_pic.attached? %>
                  <%= image_tag current_user.profile_pic, class: "profile-picture mr-2" %>
                <% else %>
                  <%= image_tag "default_profile_pic.jpg", class: "profile-picture mr-2" %>
                <% end %>
              <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileDropdown">
              <%= form_tag profile_edit_path, method: :get, class: "dropdown-item" do %>
                  <%= submit_tag 'Edit Profile', class: "btn btn-custom btn-link", style: "background: none; border: none;"%>
              <% end %>
              <% if current_user %>
                  <%= form_tag logout_path, method: :delete, class: "dropdown-item" do %>
                      <%= submit_tag 'Logout', class: "btn btn-custom btn-link", style: "background: none; border: none;"%>
                  <% end %>
              <% else %>
                  <%= form_tag login_path, method: :get, class: "dropdown-item" do %>
                      <%= submit_tag 'Log in', class: "btn btn-custom btn-link", style: "background: none; border: none;" %>
                  <% end %>
                  <%= form_tag new_user_path, method: :get, class: "dropdown-item" do %>
                      <%= submit_tag 'Sign up', class: "btn btn-custom btn-link", style: "background: none; border: none;" %>
                  <% end %>
              <% end %>
              </div>
            </div>

        </li>
    </ul>
</nav>

<!-- Main Dashboard-->
<div class="container mt-5">
    <h1>Welcome to the Dashboard</h1>
    <h2>Summary S1</h2>
    <h2>hello</h2>

    
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>