
<!DOCTYPE html>
<html lang="en">
<style>

.credit-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.credit-table th, .credit-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.credit-table th {
  background-color: #f2f2f2;
}

.credit-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.credit-table tr:hover {
  background-color: #ddd;
}

.reset-filters {
    background-color: #004a7c;
    color: #fff;
    border-color: #004a7c;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.reset-filters:hover {
    background-color: #2a75f3;
    border-color: #2a75f3;
}
.reset-filters {
    background-color: #004a7c;
    color: #fff;
    border-color: #004a7c;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.reset-filters:hover {
    background-color: #00335b;
    border-color: #00335b;
}
</style>

<!-- Main Dashboard-->
<div class="container mt-5">
    <h1>Welcome to the Dashboard</h1>
    
    <h2>Summary Credits</h2>
    <table class="styled-table">
    <thead>
        <tr>
            <th>Credit Type</th>
            <th>Total Credits</th>
        </tr>
    </thead>
    <tbody>
        <% @credit_totals.each do |credit_type, total_credits| %>
        <tr>
            <td><%= credit_type %></td>
            <td><%= total_credits %></td>
        </tr>
        <% end %>
    </tbody>
    </table>

    <br/>
    <hr/>
    
    
    <h3>Credit List</h3>
    <!--FILTER BLOCK STARTS HERE-->
    <table id="filters">
    <thead>
      <tr>
        <th>Credit Type</th>
        <th>Amount</th>
        <th>Description</th>
        <th>From</th>
        <th>To</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <input list="filter_credit_types" id="filter_credit_type" name="Filter Credit Type" type="text" placeholder="Select credit type...">
          <datalist id="filter_credit_types">  
            <% @credit_types.each do |credit_type| %>
              <option value="<%= credit_type %>">
            <% end %>
          </datalist>
        </td>
        <td><input id="filter_amount" name="Filter Amount" type="number" placeholder="Enter amount..." size="15"></td>
        <td><input id="filter_description" name="Filter Description" type="text" placeholder="Enter description..."></td>
        <td><input type="date" id="start" name="Filter Start Date"/></td>
        <td><input type="date" id="end" value="" name="Filter End Date"/></td>
        <td><button class="reset-filters" id="reset_button">Reset Filters</button></td>
      </tr>
    </tbody>
    </table>
    <!--FILTER BLOCK ENDS HERE-->
    <table class="credit-table" id="credit_table">
    <thead>
        <tr>
        <th>Credit Type</th>
        <th>Date</th>
        <th>Amount</th>
        <th>Description</th>
        <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @credits.each do |credit| %>
        <tr class="credit-table">
            <td><%= credit.credit_type %></td>
            <td><%= credit.date %></td>
            <td><%= credit.amount %></td>
            <td style="max-width: 400px; word-wrap: break-word;"><%= credit.description %></td>
            <td>
              <%= link_to "Show this credit", credit %>
            </td>
        </tr>
        <% end %>
    </tbody>
    </table>
    <br>
    <div style="text-align: center;">
      <%= link_to "New credit", new_credit_path, class: "btn btn-secondary"%>
    </div>



    
</div>

 <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>