
<!DOCTYPE html>
<html lang="en">


<style>

.credit-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.credit-table th, .credit-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.credit-table th {
  background-color: #f2f2f2;
}

.credit-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.credit-table tr:hover {
  background-color: #ddd;
}
.progress-bar-container {
    margin-bottom: 20px;
    background-color: #f3f3f3;
    padding: 3px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.progress-bar {
    background-color: #004a7c;
    text-align: center;
    padding: 10px 0;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    transition: width 0.4s ease-out;
}

.progress-label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.reset-filters {
    background-color: #004a7c;
    color: #fff;
    border-color: #004a7c;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.reset-filters:hover {
    background-color: #2a75f3;
    border-color: #2a75f3;
}
.reset-filters {
    background-color: #004a7c;
    color: #fff;
    border-color: #004a7c;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.reset-filters:hover {
    background-color: #00335b;
    border-color: #00335b;
}
</style>

<!-- Main Dashboard-->
<div class="container mt-5">
    <h1>Welcome to the Dashboard</h1>
    
    <h2>Summary Credits</h2>

    <% sum_of_credits = @credit_totals.values.sum %>
    
    <div class="progress-bar-container">
        <div class="progress-bar" style="width: <%= [((sum_of_credits / 15.0) * 100), 100].min %>%;">
            <%= sum_of_credits %> / 15 Credits
        </div>
    </div>
    <!--<div class="progress-label">Credit Tracker</div>-->
    <!--<canvas id="creditChart" width="400" height="200"></canvas>-->

    <table class="styled-table">
    <thead>
        <tr>
            <th>Credit Type</th>
            <th>Total Credits</th>
        </tr>
    </thead>
    <tbody>
        <% @credit_totals.each do |credit_type, total_credits| %>
        <tr>
            <td><%= credit_type %></td>
            <td><%= total_credits %></td>
        </tr>
        <% end %>
    </tbody>
    </table>

    <br/>
    <div style="text-align: center;">
    <%= link_to "Download PDF", print_path, target: :_blank, class: "btn btn-secondary"%>
    </div>
    <hr/>
  
    <div>
    <div style="float:left"><h3>Credit List</h3></div>
    <div style="float:right"><button id="reset_button" class="btn btn-secondary">Reset filters</button></div>
    </div> 
    <table class="styled-table" id="credit_table">
    <thead>
      <tr>
        <th>
          Credit Type <br>
          <input id="filter_credit_type" name="Filter Credit Type" type="text" placeholder="Select credit type..." style="padding:2px">
        </th>
        <th> 
          Date <br> 
          <span style="font-weight:normal">
          <nobr>
          from <input type="date" id="start" name="Filter Start Date"/>
          to <input type="date" id="end" value="" name="Filter End Date"/>
          </nobr>
          </span>
        </th>
        <th>
          Amount <br>
          <input id="filter_amount" name="Filter Amount" type="number" size="15" style="padding:2px">
        </th>
        <th>
          Description <br>
          <input id="filter_description" name="Filter Description" type="text" style="padding:2px">
        </th>
        <th>
          Actions
          <br> <br>
        </th>
        </tr>
    </thead>
    <tbody>
        <% @credits.each do |credit| %>
        <tr class="credit-table">
            <td><%= credit.credit_type.name %></td>
            <td><%= credit.date %></td>
            <td><%= credit.amount %></td>
            <td style="max-width: 400px; word-wrap: break-word;"><%= credit.description %></td>
            <td>
              <%= link_to "Show this credit", credit %>
            </td>
        </tr>
        <% end %>
    </tbody>
    </table>
    <br>
    <div style="text-align: center;">
      <%= link_to "New credit", new_credit_path, class: "btn btn-secondary"%>
    </div>



    
</div>

<%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>