
<%=stylesheet_link_tag 'sign_up.css'%>
<div class ="login-container">
  <h1>Credits Tracker</h1>
  <div class="signup">
    <h2>Log In</h2>
    <%= form_with url: '/login', method: :post, local: true do |form| %>
      <!-- Display flash message if present -->
    <% if flash[:danger] %>
      <div class="login-alert">
        <%= flash[:danger] %>
      </div>
  <% end %>


    <div class="field">
      <%= form.label :identifier, 'Email or Username' %>
      <%= form.text_field :identifier, placeholder: 'Email or Username' %>
    </div>

    <div class="field">
      <%= form.label :password %>
      <%= form.password_field :password, placeholder: 'Password' %>
    </div>

    <div class="actions">
      <%= form.submit "Log in", class: "submit" %>
    </div>

    <div class="actions">
      <%= link_to "Forgot Password?", password_reset_path %>
    </div>

<% end %>

      
  </div>
</div>

