
<%=stylesheet_link_tag 'sign_up.css'%>
<div class ="login-container">
  <h1>Credits Tracker</h1>
  <div class="signup">
    <h2>Log In</h2>
    <%= form_with url: '/login', method: :post, local: true do |form| %>
    <% if flash[:danger] %>
      <div class="login-alert">
        <%= flash[:danger] %>
      </div>
    <% end %>


    <div class="field">
      <%= form.label :identifier, 'Email or Username' %>
      <%= form.text_field :identifier, placeholder: 'Email or Username' %>
    </div>

    <div class="field">
      <%= form.label :password %>
      <%= form.password_field :password, placeholder: 'Password' %>
    </div>

    <div class="actions">
      <%= form.submit "Log in", class: "submit" %>
    </div>
    
    <% end %>

    <!-- Make sure to keep 3rd party logins separate from other routing logic because the buttons have to make POST requests to /auth/:provider
    and not POST to /login-->
    <div class="social-signup">
      <%= button_to "Log in with Google", '/auth/google_oauth2', class: "third-party-signup" %>
    </div>
    <div class="social-signup">
      <%= button_to "Log in with Facebook", '/auth/facebook', class: "third-party-signup" %>
    </div>
    <div class="actions">
      <%= link_to "Forgot Password?", password_reset_path %>
    </div>
  </div>
  <% if flash[:alert] %>
      <div class="passwordreset-alert">
          <%= flash[:alert] %>
      </div>
  <% end %>
</div>

