<%= form_tag admin_logout_path, method: :delete do %>
    <%= submit_tag 'Logout'%>
<% end %>
<%= form_tag admin_path, method: :get do %>
    <%= submit_tag 'Back to User list'%>
<% end %>

<h3> User: <%= @user.username%> </h3>
<p> Email: <%= @user.email%> </p>
<%= form_tag change_user_role_path(:u => @user.id), method: :post do %>
    <% if @user.admin == true%>
        <p>Role: Administrator <%= submit_tag 'Change role to Standard User' %></p>
    <% else %>
        <p>Role: Standard User <%= submit_tag 'Change role to Administrator' %></p>
    <% end %>
<% end %>
<p> Renewal from: <%= @user.start_date.strftime('%m-%d-%Y')%></p>
<p> Renewal to: <%= @user.renewal_date.strftime('%m-%d-%Y')%></p>
<%= form_tag delete_user_path(:u => @user.id), method: :delete do %>
    <%= submit_tag 'Delete user', style:"background-color:#8B0000;color:white;border-color:red"%>
<% end %>
<br>
<table id="credit_table">
<thead>
  <tr>
    <th>
      Credit Type <br>
      <input id="filter_credit_type" name="Filter Credit Type" type="text" placeholder="Select credit type..." style="padding:2px">
    </th>
    <th> 
      Date <br> 
      <span style="font-weight:normal">
      <nobr>
      from <input type="date" id="start" name="Filter Start Date"/>
      to <input type="date" id="end" value="" name="Filter End Date"/>
      </nobr>
      </span>
    </th>
    <th>
      Amount <br>
      <input id="filter_amount" name="Filter Amount" type="number" size="15" style="padding:2px">
    </th>
    <th>
      Description <br>
      <input id="filter_description" name="Filter Description" type="text" style="padding:2px">
    </th>
    </tr>
</thead>
<tbody>
    <% @credits.each do |credit| %>
    <tr class="credit-table">
        <td> <%= credit.credit_type.name %> </td>
        <td><%= credit.date %></td>
        <td><%= credit.amount %></td>
        <td style="max-width: 400px; word-wrap: break-word;"><%= credit.description %></td>
        
    </tr>
    <% end %>
</tbody>
</table>

<%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %> 