
<style>
form label {
  font-size: 16px;
}
form input[type="text"],
form select,
form input[type="date"],
form button, 
form input[type="number"] {
  font-size: 14px; 
}

.button-container {
  display: flex;
  align-items: left; 
}

.add-new-label {
  margin-right: 10px; 
}

.small-button {
  font-size: 0.8em;
}


.uppercase-label {
  text-transform: camelcase;
}

</style>

<%= form_with(model: @credit, local: true, html: { id: 'credit-form' }) do |form| %>
  
  <%= form.label :credit_type_id %>
<%= form.select :credit_type_id, @credit_types, include_blank: true %>

<%= link_to 'Add New Credit Type', new_credit_type_path, class: 'btn btn-secondary small-button', style: 'float: right; margin-left: 10px;'%>


    <div class ="field form-group">
      <%= form.label :date %>
      <%= form.date_field :date, class:"form-control" %>
    </div>
 
    <div class ="field form-group">
      <%= form.label :amount %>
      <%= form.number_field :amount, class:"form-control" %>
    </div>
  
    <div class ="field form-group">
      <%= form.label :description %>
      <%= form.text_area :description, class:"form-control" %>
    </div>
  
    <div class ="field form-group">
      <%= form.submit class: 'btn btn-secondary' %>
    </div>
<% end %>
