<div class="credits-container">
  <% if @error%>
    <p class="error-message">Total carried forward credits must be less than or equal to 14.</p>
  <% end %>
  <%= form_with(url: renew_credits_path, method: :post, id: 'renew-credits-form') do |form| %>
    <h2>Carry-Forward Credits</h2>
    <ul>
      <% credits_by_type = current_user.credits.group_by { |credit| credit.credit_type } %>
      <% credits_by_type.each do |credit_type, credits| %>
        
        <% if credit_type.carry_forward %>
          <li>
            <% end_date = current_user.renewal_date %>
            <% start_date = current_user.start_date %>

            <% total_credits = credits.select { |credit| credit.date >= start_date && credit.date <= end_date }.sum(&:amount) %>
          
            <%= "How much of #{total_credits} credits for #{credit_type.name} with credit limit #{credit_type.credit_limit} do you want to carry forward?" %>
            <%= "Carry Forward is true for this credit type" %>
            <%= form.number_field("credit_#{credits.first.id}_carry_forward_amount", class: 'carry-forward-amount') %>
          </li>
        <% end %>
      <% end %>
    </ul>
    <%= form.submit("Renew Credits") %>
  <% end %>

  <br>

  <div>
    <%= link_to "Cancel", dashboard_path, class: "btn btn-primary" %>
  </div>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</div>
