<div class="credits-container">
  <% if @error %>
    <p class="error-message">Total carried forward credits must be less than or equal to 14.</p>
  <% end %>
  <%= form_with(url: renew_credits_path, method: :post, id: 'renew-credits-form') do |form| %>
    <h2>Carry-Forward Credits</h2>
    <ul>
      <% current_user.credits.each do |credit| %>
          <% if credit.credit_type.carry_forward %>
            <li>
            <%= "How much of #{credit.amount} credits for #{credit.credit_type.name} with credit limit #{credit.credit_type.credit_limit} do you want to carry forward?" %>
            <%= "Carry Forward is true for this credit type" %>
            <%= form.number_field("credit_#{credit.id}_carry_forward_amount", value: credit.amount, class: 'carry-forward-amount') %>
            </li>
            <% end %>
      <% end %>
    </ul>
    <div id="total-carry-forward">Total Carried Forward: 0</div>
    <%= form.submit("Renew Credits") %>
  <% end %>

  <br>

  <div>
    <%= link_to "Cancel", dashboard_path, class: "btn btn-primary" %>
  </div>
</div>
