Hi <%= @user.email %>

<!DOCTYPE html>
<html lang="en">
<body>
	<% @credit_progress.each do |credit_type_name, progress_data| %>
	    <h4>Credits Pending for <%= credit_type_name %></h4>
	    <div>
	      <div style="background-color: #007C46; width: <%= [(progress_data[:sum_of_credits] / progress_data[:total_credit_limit].to_f) * 100, 100].min %>%;">
	        <%= progress_data[:sum_of_credits] %> / <%= progress_data[:total_credit_limit] %>
	      </div>
	      <p></p>
	    </div>
	<% end %>


    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

