<!DOCTYPE html>
<html>
  <head>
    <title>Niki</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
  </head>

  <body>

<style>
    .navbar-custom {
        background-color: #004a7c;
    }

    .navbar-custom .navbar-brand, 
    .navbar-custom .nav-link {
        color: white;
    }

    .btn-custom {
        background-color: #500000;
        color: black;
    }
    .custom-link {
      padding: 7px;
      color: white;
      text-decoration: none;
    }
    .custom-link:hover {
      color: white;
    }

    .profile-dd{
     width: 230px;
     text-align:left;
     
    }

    .profile-picture {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    
    .bell-icon {
        cursor: pointer;
        color: white;
        margin-right: 10px; 
        margin-top: 589 bbb  npx; 
    }

    .credits-notification-container {
      border: 1px solid #ccc;
      padding: 10px;
      position: absolute;
      right: 0; /* Align it to the right */
      display: none; /* Hide it by default */
      top: 100%;
      z-index: 999;
    }

    .credits-notification-container.active {
      display: block; /* Show the container when active class is present */
    }

</style>
<script>
    function displayCredits() {
        var creditsContainer = document.querySelector('.credits-notification-container');
        creditsContainer.classList.toggle('active');
        console.log("Here#############")
    }
</script>
<body>

<% if logged_in? %>
    <nav class="navbar navbar-expand-lg navbar-custom">
        <ul class="navbar-nav ml-auto">
                <% if controller_name == 'dashboard' && action_name == 'index' %>

                <% elsif controller_name == 'credits' && action_name == 'new' %>
                    <li class="custom-link"><%= link_to 'Dashboard', dashboard_path , class: "custom-link" %> </li>
                <% end %>
           <div class="bell-icon" onclick="displayCredits()">
              <i class="fas fa-bell fa-2x"></i>
            </div>

            <div class="credits-notification-container">
              <div class="dropdown">
                <% if @credits.present? %>
                  <% credits_count = @credits.count %>
                <% end %>
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #004a7c;">
                  <%= "#{credits_count} Credits due soon!" %>
                </button>
                <% if @credits.present? %>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <% @credits.each do |credit| %>
                      <a class="dropdown-item" href="#"><%= credit.description %></a>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>

            <li class="nav-item dropdown">

            <div class="d-flex align-items-center">
                <% if current_user.profile_pic.attached? %>
                <%= image_tag current_user.profile_pic, class: "profile-picture mr-2" %>
                <% else %>
                <%= image_tag "default_profile_pic.jpg", class: "profile-picture mr-2" %>
                <% end %>
                <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                <div class="dropdown-menu dropdown-menu-right profile-dd" aria-labelledby="profileDropdown">
                <%= form_tag profile_edit_path, method: :get, class: "dropdown-item" do %>
                    <%= submit_tag 'Edit Profile', class: "btn btn-custom btn-link", style: "background: none; border: none;"%>
                <% end %>
                
               <div class="dropdowm-item"> 
                  <div class= " btn btn-custom btn-link" style = "background: none; border: none;">     
                      <%= link_to 'Add New Credit Type', new_credit_type_path , class: "custom-link", style:"color:black ;padding-left: 1.4rem;" %>
                   </div>
               </div>          
               <div class="dropdowm-item"> 
                 <div class= " btn btn-custom btn-link" style = "background: none; border: none;">     
                      <%= link_to 'Add New Credit', new_credit_path , class: "custom-link",style:"color:black ; padding-left: 1.4rem;" %> 
                  </div>
               </div>


                <% if current_user %>
                    <%= form_tag logout_path, method: :delete, class: "dropdown-item" do %>
                        <%= submit_tag 'Logout', class: "btn btn-custom btn-link", style: "background: none; border: none;"%>
                    <% end %>
                <% else %>
                    <%= form_tag login_path, method: :get, class: "dropdown-item" do %>
                        <%= submit_tag 'Log in', class: "btn btn-custom btn-link", style: "background: none; border: none;" %>
                    <% end %>
                    <%= form_tag new_user_path, method: :get, class: "dropdown-item" do %>
                        <%= submit_tag 'Sign up', class: "btn btn-custom btn-link", style: "background: none; border: none;" %>
                    <% end %>
                <% end %>
                </div>
            </li>
        </ul>
    </nav>
    <% else %>
    <nav class="navbar navbar-expand-lg navbar-custom">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">CE Tracker</a>
            </li>
        </ul>
        </nav>
    <% end %>

    <% if flash[:notice] %>
    <div class="alert alert-success">
        <%= flash[:notice] %>
    </div>
    <% end %>

    <% if flash[:error] %>
    <div class="alert alert-danger">
        <%= flash[:error] %>
    </div>
    <% end %>

    <%= yield %>

  </body>
</html>

